In [1]:
import pandas as pd
import numpy as np
import mlxtend as mlx
import mlxtend.preprocessing as mlp
import mlxtend.frequent_patterns as FP
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/csv/carpetas-de-investigacion-pgj-cdmx.csv',na_values='NaN')
data = data.drop(columns=['año_hechos','mes_hechos','categoria_delito',
                        'Geopoint','calle_hechos2','calle_hechos',
                        'colonia_hechos','mes_inicio','ao_inicio','fiscalía','agencia',
                        'unidad_investigacion',])
data.fecha_hechos = pd.to_datetime(data.fecha_hechos)
data.fecha_inicio = pd.to_datetime(data.fecha_inicio)
data.rename(columns={'longitud':'lon','latitud':'lat'}, inplace=True)

In [3]:
data1 = pd.read_csv('/content/drive/MyDrive/csv/carpetas-de-investigacion-pgj-cdmx.csv',na_values='NaN')
data1 = data1.drop(columns=['año_hechos','mes_hechos','categoria_delito',
                        'Geopoint','calle_hechos2','calle_hechos',
                        'colonia_hechos','mes_inicio','ao_inicio','fiscalía','agencia',
                        'unidad_investigacion',])
data1.fecha_hechos = pd.to_datetime(data1.fecha_hechos)
data1.fecha_inicio = pd.to_datetime(data1.fecha_inicio)
data1.rename(columns={'longitud':'lon','latitud':'lat'}, inplace=True)

In [4]:
class experimentoDiaNoche():
    def __init__(self,ex1):
        delitos = ex1.delito
        alcaldia = ex1.alcaldia_hechos
        hora_hechos = [ex1.fecha_hechos[i].hour for i in range(ex1.shape[0])]
        print('Hora hechos')
        hora_arr1 = []
        for hora in hora_hechos:
            if hora in range(0,12):
                hora_arr1.append('dia')
            else:
                hora_arr1.append('noche')
        tiempo_denuncia = ex1.fecha_inicio - ex1.fecha_hechos 
        tiempo_denuncia_arr1 = []
        for diffe in tiempo_denuncia:
            dias = diffe.days
            if dias <= 1:
                tiempo_denuncia_arr1.append('dia')
            elif dias <= 7:
                tiempo_denuncia_arr1.append('sem')
            elif dias <= 30:
                tiempo_denuncia_arr1.append('mes')
            else:
                tiempo_denuncia_arr1.append('inf')
        print('Tiempo denuncia')
        experimento1 = pd.DataFrame(
                                        {'delitos': delitos,
                                        'alcaldia': alcaldia,
                                        'hora': hora_arr1,
                                        'tden':tiempo_denuncia_arr1
                                        })
        self.experimento1 = pd.get_dummies(experimento1, 
                        columns=experimento1.columns,
                        dtype = bool) 
        print('Dummies') 
        
    
    def patrones_umbral(self,u):
         perfilesFrec = FP.apriori(self.experimento1, min_support=u,use_colnames=True)
         return perfilesFrec

In [5]:
class experimentoDiaTardeNoche():
    def __init__(self,ex1):
        delitos = ex1.delito
        alcaldia = ex1.alcaldia_hechos
        hora_hechos = [ex1.fecha_hechos[i].hour for i in range(ex1.shape[0])]
        print('Hora hechos')
        hora_arr1 = []
        for hora in hora_hechos:
            if hora in range(0,8):
                hora_arr1.append('dia')
            elif hora in range(8,16):
                hora_arr1.append('tarde')
            else:
                hora_arr1.append('noche')
        tiempo_denuncia = ex1.fecha_inicio - ex1.fecha_hechos 
        tiempo_denuncia_arr1 = []
        for diffe in tiempo_denuncia:
            dias = diffe.days
            if dias <= 1:
                tiempo_denuncia_arr1.append('dia')
            elif dias <= 7:
                tiempo_denuncia_arr1.append('sem')
            elif dias <= 30:
                tiempo_denuncia_arr1.append('mes')
            else:
                tiempo_denuncia_arr1.append('inf')
        print('Tiempo denuncia')
        experimento1 = pd.DataFrame(
                                        {'delitos': delitos,
                                        'alcaldia': alcaldia,
                                        'hora': hora_arr1,
                                        'tden':tiempo_denuncia_arr1
                                        })
        self.experimento1 = pd.get_dummies(experimento1, 
                        columns=experimento1.columns,
                        dtype = bool) 
        print('Dummies') 
        
    
    def patrones_umbral(self,u):
         perfilesFrec = FP.apriori(self.experimento1, min_support=u,use_colnames=True)
         return perfilesFrec

In [ ]:
ex1=experimentoDiaNoche(data)

Hora hechos
Tiempo denuncia
Dummies

In [ ]:
ex1_1=experimentoDiaTardeNoche(data)

Hora hechos
Tiempo denuncia
Dummies

In [ ]:
ex1.patrones_umbral(.2)

    support                itemsets
0  0.349767              (hora_dia)
1  0.650233            (hora_noche)
2  0.590203              (tden_dia)
3  0.212732    (hora_dia, tden_dia)
4  0.377471  (hora_noche, tden_dia)

In [ ]:
ex1.patrones_umbral(0.06)

     support                                 itemsets
0   0.063578   (delitos_ROBO A NEGOCIO SIN VIOLENCIA)
1   0.064552                (delitos_ROBO DE OBJETOS)
2   0.085943             (delitos_VIOLENCIA FAMILIAR)
3   0.064989                (alcaldia_ALVARO OBREGON)
4   0.087281                 (alcaldia_BENITO JUAREZ)
5   0.067050                      (alcaldia_COYOACAN)
6   0.162445                    (alcaldia_CUAUHTEMOC)
7   0.099023              (alcaldia_GUSTAVO A MADERO)
8   0.148263                    (alcaldia_IZTAPALAPA)
9   0.066374                (alcaldia_MIGUEL HIDALGO)
10  0.349767                               (hora_dia)
11  0.650233                             (hora_noche)
12  0.590203                               (tden_dia)
13  0.157382                               (tden_inf)
14  0.101614                               (tden_mes)
15  0.150800                               (tden_sem)
16  0.107336        (alcaldia_CUAUHTEMOC, hora_noche)
17  0.088915          (alcaldia_CUAUHTEMOC, tden_dia)
18  0.064078  (hora_noche, alcaldia_GUSTAVO A MADERO)
19  0.062381    (alcaldia_GUSTAVO A MADERO, tden_dia)
20  0.094786        (hora_noche, alcaldia_IZTAPALAPA)
21  0.092596          (alcaldia_IZTAPALAPA, tden_dia)
22  0.212732                     (hora_dia, tden_dia)
23  0.377471                   (hora_noche, tden_dia)
24  0.107360                   (hora_noche, tden_inf)
25  0.067230                   (hora_noche, tden_mes)
26  0.098174                   (hora_noche, tden_sem)

In [ ]:
ex1_1.patrones_umbral(0.2)

    support                itemsets
0  0.364370            (hora_noche)
1  0.483128            (hora_tarde)
2  0.590203              (tden_dia)
3  0.241425  (tden_dia, hora_noche)
4  0.245126  (hora_tarde, tden_dia)

In [ ]:
ex1_1.patrones_umbral(0.06)

     support                                itemsets
0   0.063578  (delitos_ROBO A NEGOCIO SIN VIOLENCIA)
1   0.064552               (delitos_ROBO DE OBJETOS)
2   0.085943            (delitos_VIOLENCIA FAMILIAR)
3   0.064989               (alcaldia_ALVARO OBREGON)
4   0.087281                (alcaldia_BENITO JUAREZ)
5   0.067050                     (alcaldia_COYOACAN)
6   0.162445                   (alcaldia_CUAUHTEMOC)
7   0.099023             (alcaldia_GUSTAVO A MADERO)
8   0.148263                   (alcaldia_IZTAPALAPA)
9   0.066374               (alcaldia_MIGUEL HIDALGO)
10  0.152503                              (hora_dia)
11  0.364370                            (hora_noche)
12  0.483128                            (hora_tarde)
13  0.590203                              (tden_dia)
14  0.157382                              (tden_inf)
15  0.101614                              (tden_mes)
16  0.150800                              (tden_sem)
17  0.088211       (alcaldia_CUAUHTEMOC, hora_tarde)
18  0.088915         (alcaldia_CUAUHTEMOC, tden_dia)
19  0.062381   (alcaldia_GUSTAVO A MADERO, tden_dia)
20  0.065934       (hora_tarde, alcaldia_IZTAPALAPA)
21  0.092596         (tden_dia, alcaldia_IZTAPALAPA)
22  0.103652                    (hora_dia, tden_dia)
23  0.241425                  (tden_dia, hora_noche)
24  0.245126                  (hora_tarde, tden_dia)
25  0.108782                  (hora_tarde, tden_inf)
26  0.072098                  (hora_tarde, tden_sem)

In [ ]:
delitoLe=data1[data1['delito']== 'LESIONES CULPOSAS']

In [ ]:
data1

              fecha_hechos  ...        lat
0      2016-01-05 17:00:00  ...  19.481076
1      2017-11-01 14:00:00  ...        NaN
2      2017-11-01 16:40:00  ...  19.395398
3      2015-12-30 20:00:00  ...  19.322458
4      2018-05-16 16:00:00  ...  19.319141
...                    ...  ...        ...
808866 2017-01-24 15:00:00  ...  19.470400
808867 2017-01-24 20:18:00  ...  19.471861
808868 2017-01-30 20:35:00  ...  19.294460
808869 2016-09-13 12:00:00  ...  19.197004
808870 2017-01-31 03:20:00  ...        NaN

[808871 rows x 6 columns]

In [ ]:
delitoLe

              fecha_hechos             delito  ...        lon        lat
0      2016-01-05 17:00:00  LESIONES CULPOSAS  ... -99.103527  19.481076
148    2015-06-18 00:00:00  LESIONES CULPOSAS  ... -99.166291  19.280169
956    2016-06-27 23:30:00  LESIONES CULPOSAS  ... -99.163705  19.444763
1224   2015-11-10 10:50:00  LESIONES CULPOSAS  ... -99.179175  19.431703
1240   2016-01-09 10:30:00  LESIONES CULPOSAS  ... -99.094151  19.355959
...                    ...                ...  ...        ...        ...
807263 2017-12-17 14:00:00  LESIONES CULPOSAS  ... -99.128990  19.402125
807531 2016-04-16 13:00:00  LESIONES CULPOSAS  ...        NaN        NaN
808068 2016-06-07 16:15:00  LESIONES CULPOSAS  ... -99.135676  19.456299
808370 2016-12-23 00:30:00  LESIONES CULPOSAS  ... -99.114346  19.482485
808868 2017-01-30 20:35:00  LESIONES CULPOSAS  ... -99.102240  19.294460

[2390 rows x 6 columns]

In [ ]:
delitoLe.index = [i for i in range(len(delitoLe['fecha_hechos']))]
delitoLe.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389],
           dtype='int64', length=2390)

In [ ]:
exp3=experimentoDiaNoche(delitoLe)

Hora hechos
Tiempo denuncia
Dummies

In [ ]:
exp3.patrones_umbral(.3)

    support                                           itemsets
0  1.000000                        (delitos_LESIONES CULPOSAS)
1  0.371130                                         (hora_dia)
2  0.628870                                       (hora_noche)
3  0.700418                                         (tden_dia)
4  0.371130              (delitos_LESIONES CULPOSAS, hora_dia)
5  0.628870            (hora_noche, delitos_LESIONES CULPOSAS)
6  0.700418              (delitos_LESIONES CULPOSAS, tden_dia)
7  0.423849                             (hora_noche, tden_dia)
8  0.423849  (hora_noche, delitos_LESIONES CULPOSAS, tden_dia)

In [ ]:
association_rules(exp3.patrones_umbral(.10), metric="confidence", min_threshold=0.5)

                                          antecedents  ... conviction
0                               (alcaldia_CUAUHTEMOC)  ...        inf
1                         (alcaldia_GUSTAVO A MADERO)  ...        inf
2                               (alcaldia_IZTAPALAPA)  ...        inf
3                                          (hora_dia)  ...        inf
4                                        (hora_noche)  ...        inf
5                         (delitos_LESIONES CULPOSAS)  ...   1.000000
6                         (delitos_LESIONES CULPOSAS)  ...   1.000000
7                                          (tden_dia)  ...        inf
8                                          (tden_inf)  ...        inf
9                                          (tden_sem)  ...        inf
10                        (alcaldia_GUSTAVO A MADERO)  ...   1.074032
11                                         (hora_dia)  ...   1.175791
12                                       (hora_noche)  ...   0.918921
13                                         (tden_dia)  ...   0.939896
14  (delitos_LESIONES CULPOSAS, alcaldia_GUSTAVO A...  ...   1.074032
15              (alcaldia_GUSTAVO A MADERO, tden_dia)  ...        inf
16                        (alcaldia_GUSTAVO A MADERO)  ...   1.074032
17              (delitos_LESIONES CULPOSAS, hora_dia)  ...   1.175791
18                               (hora_dia, tden_dia)  ...        inf
19                                         (hora_dia)  ...   1.175791
20            (hora_noche, delitos_LESIONES CULPOSAS)  ...   0.918921
21                             (hora_noche, tden_dia)  ...        inf
22              (delitos_LESIONES CULPOSAS, tden_dia)  ...   0.939896
23                                       (hora_noche)  ...   0.918921
24                                         (tden_dia)  ...   0.939896

[25 rows x 9 columns]

In [ ]:
fraudeData=data1[data1['delito'] == 'FRAUDE']
fraudeData.index=[i for i in range(len(fraudeData['delito']))]
fraudeData

             fecha_hechos  delito  ...        lon        lat
0     2015-12-30 20:00:00  FRAUDE  ... -99.055887  19.322458
1     2016-09-23 12:00:00  FRAUDE  ... -99.071243  19.475715
2     2017-10-16 12:00:00  FRAUDE  ... -99.090219  19.396728
3     2018-05-22 09:30:00  FRAUDE  ... -99.174026  19.366746
4     2015-12-31 13:30:00  FRAUDE  ... -99.149902  19.492915
...                   ...     ...  ...        ...        ...
45344 2017-02-02 11:00:00  FRAUDE  ... -99.151937  19.347466
45345 2016-12-15 12:00:00  FRAUDE  ... -99.137531  19.422518
45346 2017-01-27 12:10:00  FRAUDE  ... -99.326636  19.329755
45347 2017-01-26 16:00:00  FRAUDE  ... -99.181712  19.445391
45348 2016-09-13 12:00:00  FRAUDE  ... -99.146173  19.197004

[45349 rows x 6 columns]

In [ ]:
exp4=experimentoDiaNoche(fraudeData)

Hora hechos
Tiempo denuncia
Dummies

In [ ]:
exp4.patrones_umbral(0.30)

    support                                itemsets
0  1.000000                        (delitos_FRAUDE)
1  0.742729                            (hora_noche)
2  0.539020                              (tden_inf)
3  0.742729            (hora_noche, delitos_FRAUDE)
4  0.539020              (tden_inf, delitos_FRAUDE)
5  0.402170                  (hora_noche, tden_inf)
6  0.402170  (tden_inf, hora_noche, delitos_FRAUDE)

In [6]:
violacionData=data1[data1['delito'] == 'VIOLACION']
violacionData.index= [i for i in range(len(violacionData['delito']))]

In [ ]:
violacionData

            fecha_hechos     delito  ...        lon        lat
0    2016-02-04 17:00:00  VIOLACION  ... -99.160876  19.476966
1    2016-02-03 13:30:00  VIOLACION  ... -99.189842  19.457458
2    2016-05-08 07:30:00  VIOLACION  ... -98.963971  19.316924
3    2016-05-03 16:00:00  VIOLACION  ... -99.247878  19.271130
4    2016-06-05 15:18:00  VIOLACION  ... -99.138092  19.424266
...                  ...        ...  ...        ...        ...
2040 2019-05-03 14:00:00  VIOLACION  ... -99.319530  19.351911
2041 2016-03-04 20:30:00  VIOLACION  ...        NaN        NaN
2042 2016-05-27 02:00:00  VIOLACION  ... -99.163368  19.287229
2043 2016-05-31 14:00:00  VIOLACION  ...        NaN        NaN
2044 2016-03-18 23:00:00  VIOLACION  ... -99.014031  19.250382

[2045 rows x 6 columns]

In [7]:
exp5=experimentoDiaNoche(violacionData)

Hora hechos
Tiempo denuncia
Dummies

In [8]:
exp5_1=experimentoDiaTardeNoche(violacionData)

Hora hechos
Tiempo denuncia
Dummies

In [10]:
exp5.patrones_umbral(.20)

     support                                   itemsets
0   1.000000                        (delitos_VIOLACION)
1   0.422983                                 (hora_dia)
2   0.577017                               (hora_noche)
3   0.608802                                 (tden_dia)
4   0.422983              (hora_dia, delitos_VIOLACION)
5   0.577017            (hora_noche, delitos_VIOLACION)
6   0.608802              (tden_dia, delitos_VIOLACION)
7   0.276773                       (hora_dia, tden_dia)
8   0.332029                     (hora_noche, tden_dia)
9   0.276773    (tden_dia, hora_dia, delitos_VIOLACION)
10  0.332029  (hora_noche, tden_dia, delitos_VIOLACION)

In [12]:
exp5_1.patrones_umbral(.20)

     support                                   itemsets
0   1.000000                        (delitos_VIOLACION)
1   0.289487                                 (hora_dia)
2   0.395110                               (hora_noche)
3   0.315403                               (hora_tarde)
4   0.608802                                 (tden_dia)
5   0.289487              (hora_dia, delitos_VIOLACION)
6   0.395110            (hora_noche, delitos_VIOLACION)
7   0.315403            (hora_tarde, delitos_VIOLACION)
8   0.608802              (tden_dia, delitos_VIOLACION)
9   0.208313                       (tden_dia, hora_dia)
10  0.246455                     (hora_noche, tden_dia)
11  0.208313    (tden_dia, delitos_VIOLACION, hora_dia)
12  0.246455  (hora_noche, tden_dia, delitos_VIOLACION)

In [13]:
association_rules(exp5.patrones_umbral(.20), metric="confidence", min_threshold=0.5)

                        antecedents  ... conviction
0                        (hora_dia)  ...        inf
1                      (hora_noche)  ...        inf
2               (delitos_VIOLACION)  ...   1.000000
3                        (tden_dia)  ...        inf
4               (delitos_VIOLACION)  ...   1.000000
5                        (hora_dia)  ...   1.131727
6                      (hora_noche)  ...   0.921385
7                        (tden_dia)  ...   0.930413
8              (tden_dia, hora_dia)  ...        inf
9     (hora_dia, delitos_VIOLACION)  ...   1.131727
10                       (hora_dia)  ...   1.131727
11           (hora_noche, tden_dia)  ...        inf
12  (hora_noche, delitos_VIOLACION)  ...   0.921385
13    (tden_dia, delitos_VIOLACION)  ...   0.930413
14                     (hora_noche)  ...   0.921385
15                       (tden_dia)  ...   0.930413

[16 rows x 9 columns]

In [14]:
association_rules(exp5_1.patrones_umbral(.20), metric="confidence", min_threshold=0.5)

                        antecedents  ... conviction
0                        (hora_dia)  ...        inf
1                      (hora_noche)  ...        inf
2                      (hora_tarde)  ...        inf
3                        (tden_dia)  ...        inf
4               (delitos_VIOLACION)  ...   1.000000
5                        (hora_dia)  ...   1.395116
6                      (hora_noche)  ...   1.039763
7              (tden_dia, hora_dia)  ...        inf
8     (hora_dia, delitos_VIOLACION)  ...   1.395116
9                        (hora_dia)  ...   1.395116
10           (hora_noche, tden_dia)  ...        inf
11  (hora_noche, delitos_VIOLACION)  ...   1.039763
12                     (hora_noche)  ...   1.039763

[13 rows x 9 columns]